header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(88, 114, 137);
    
}

li{
    display: inline;
    margin-right: 20px;
    
}

body{
    margin: 0px;
    background-image: url("../img/pattern.jpg");
}

a{
    text-decoration: none;
}

main{
    margin: 40px 150px 50px;
    background-color: white;
    padding: 50px;
}

footer{
    background-color: black;

}

#penutup{
    text-align: center;
    color: white;
    padding: 5px;
}

article{
    border-bottom: 2px solid black;
}

